.button {
  font: inherit;
  border: 1px solid #38015c;
  background: #38015c;
  color: white;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  font-size: 1.15rem;
  /* border-radius: 30px; */
}

.button:hover,
.button:active {
  background: #741188;
  border-color: #741188;
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}
